.recommended-friends {
  margin: 20px 0px;
  padding: 20px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends__title {
  font-size: 14px;
}

.recommended-friends span {
  margin: 100px 0px;
  display: block;
  text-align: center;
  font-size: 16px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  font-size: 14px;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.5;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  /* font-size: 16px; */
  margin-bottom: 10px;
}

.open-post__hashtags {
  color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
  text-transform: uppercase;
}

.open-post__members {
  display: flex;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  align-items: center;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 40%;
  margin-right: 5px;
}

.open-post__members .divider {
  height: 14px;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 5px;
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
  /* z-index: -2; */
}

.open-post__photo img {
  width: 100px;
  height: 100px;
  border-radius: 10%;
}

.open-post__heart-count {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
  position: absolute;
  padding: 4px 8px;
  font-size: 12px;
  bottom: 10px;
  right: 10px;
}

.open-post__heart-count span {
  margin-left: 3px;
  opacity: 0.8;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
